body{background-color: lightblue;} /*背景色*/

img.imagechange12{width: 50%; height: 50%; margin: 20px 200px;} /*画像大きさ*/
img.imagechange17{width: 80%; height: 80%; margin: 20px 100px} 

p.sam715{margin: 20px 50px; padding: 10px; border:medium solid black;} /*紹介文*/

span{color:red;}

