body{background-color: lightblue;} /*背景色*/

h1{color:white;} /*文字色*/

th,td{border: solid thick black;} /*枠線*/

td.sky{color:red;}
td.peace{color:yellow;}

p.sample3{margin: 20px 50px; padding: 10px; border:medium solid black;}

img.imagechange{width: 100%; height: 100%;}
img.imagechange2{width: 60%; height: 60%;}
img.imagechange3{width: 50%; height: 50%;}


