body{background-color: lightblue;} /*背景色*/

h1{color:white;} /*文字色*/

th,td{border: solid medium black;} /*枠線*/
#yy{margin:auto;}

td.sky{color:red;}
td.peace{color:yellow;} /*メンバーカラー*/

p.sample3{margin: 20px 50px; padding: 10px; border:medium solid black;} /*紹介文*/
p.ss{margin: 20px 100px; border:medium solid black;}

img.imagechange{width: 100%; height: 100%;} /*メイン画像*/
img.imagechange2{width: 80%; height: 80%; margin: 20px 100px} /*YouTube画像*/
img.imagechange3{width: 80%; height: 80%; margin: 20px 100px} /*Music画像&SNS画像*/



